<navbar></navbar>

<div class="container">

    <h1>{{$ctrl.organization.name}}</h1>
    <h3>{{$ctrl.organization.description}}</h3>

    <p>
        <a data-original-title="Add User" href="#" type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#addOrgModal">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            <span> Invite User </span>
        </a>
        <a type="button" ng-href="/flare/{{$ctrl.organization.id}}" class="btn btn-lg btn-primary" title="Send Flare">
            Send Flare <span class="glyphicon glyphicon-send"></span>
        </a>
    </p>

    <h3>Members: </h3>

    <div ui-grid="$ctrl.organizationMemberGrid" class="grid"></div>

    <h3>Invites</h3>


    <table id="orginvitetable" datatable="ng" class="row-border hover">
            <thead>
            <tr>
              <th>Email</th>
              <th>Invite Link</th>
              <th>Status</th>
              <th>User</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="invite in $ctrl.invites">
                <td>{{ invite.email }}</td>
                <td><a ng-href="/ui/org/{{ invite.org }}/invite/{{ invite._id }}?main-tab=Org&sub-tab=Org-index">link</a></td>
                <td>{{ invite.status }}</td>
                <td>{{ invite.acceptedBy.displayName }}</td>
                <td><button type="button" class="btn btn-danger" ng-click="$ctrl.archiveInvite(invite._id)">Archive Invite</button></td>
            </tr>
            </tbody>
        </table>



    <!-- Modal -->
    <div class="modal fade" id="addOrgModal" tabindex="-1" role="dialog" aria-labelledby="listModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Invite user to {{$ctrl.organization.name}}</h4>
                </div>
                <div class="modal-body">
                    <form id="inviteform" name="inviteform">
                      <div class="form-group">
                          <label for="title">Email: </label>
                          <input ng-model="$ctrl.newinvite.email" type="text" class="form-control" id="email" placeholder=""  required >
                          <p class="help-block">Tip: To invite a list of people,  add several emails here seperated by a comma. <br /> EX: example.person@example.com, other.person@no.com </p>
                      </div>
                        <p></p>
                        <button ng-click="$ctrl.inviteUser()" type="submit" class="btn btn-danger" data-dismiss="modal" ng-disabled="inviteform.$invalid">Fire</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>

</div>