<nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header dropdown">
          <a href="#" class="navbar-brand dropdown-toggle" data-toggle="dropdown" aria-expanded="false">NetEOC<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/">home</a></li>
            <li><a href="/about">about</a></li>
          </ul>
        </div>
        <ul class="nav navbar-nav" ng-if="authService.getAuthState()">
          <li class="dropdown" >
             <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{UsersCrtl.subTitle}}<span class="caret"></span></a>
             <ul class="dropdown-menu" hawtio-sub-tabs>
             </ul>
             </li>
        </ul>

        <ul id="right-nav" class="nav navbar-nav navbar-right">
             <ul class="nav navbar-nav" ng-if="authService.getAuthState()">
               <li><a ng-click="authService.logout()"> Logout</a></li>
             </ul>
            <ul class="nav navbar-nav" ng-if="!authService.getAuthState()">
                <li><a ng-click="authService.login()">login</a></li>
            </ul>
          <!-- <li><a ng-click="UsersCrtl.logout()"><span class="glyphicon-log-out"></span> Logout</a></li>-->



           <!-- Modal -->
           <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
             <div class="modal-dialog" role="document">
               <div class="modal-content">
                 <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                   <h4 class="modal-title" id="myModalLabel">Please Login:</h4>
                 </div>
                 <div class="modal-body">
                   <div class="embed-responsive embed-responsive-16by9">
                     <a class="btn btn-block btn-social btn-google" ng-click="UsersCrtl.poptastic('/auth/google')" onclick="">
                       <span class="fa fa-google"></span> Sign in with Google
                     </a>
                   </div>
                 </div>
                 <div class="modal-footer">
                 </div>
               </div>
             </div>
           </div>


           </ul>
     </div>
  </nav>
