@import '../common';


.bg-7972567870 {
  background: url('//images.neteoc.com/7972567870_5830f76fc8_o.jpg') no-repeat center center;
}


.bg-blue {
      background-color: #2C3E50;
      color: #fff;
}