<navbar></navbar>
<header>
  <!--<hero></hero>-->
</header>
<div class="container">
      <div class="row">
          <main>

  <div ng-if="$ctrl.Auth.getAuthState()">
    <h1>Welcome back, {{$ctrl.user.name}}</h1>
    Click on NetEOC menu above to get started.
  </div>

  <div ng-if="!$ctrl.Auth.getAuthState()">
              <h1>What is NetEOC?</h1>
            <p> NetEOC is a platform to help responders better manage operations via technology.</p>
  </div>

          </main>
        </div>
      </div>
<footernav></footernav>
