<navbar></navbar>

<div class="container">

    <a data-original-title="New Map Entry" type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#newPinModal">
        <span class="glyphicon glyphicon-plus"> New Map Entry </span>
    </a>

<!-- TODO: ng if am developer -->
    <a type="button" class="btn btn-lg btn-primary" ng-click="$ctrl.logPins()">
        <span class="glyphicon glyphicon-plus"> Debug - Log Pins</span>
    </a>

    <p></p>

    <div ng-if="!!$ctrl.pins.length" ui-grid="$ctrl.pinGrid" class="grid"></div>
  
    <div class="modal fade" id="newPinModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">New Map Entry</h4>
                </div>
                <div class="modal-body">
                    <form id="newPinForm" name="newPinForm">
                        <div class="form-group">
                            <label for="latitude">Latitude: </label>
                            <input type="text" ng-model="$ctrl.newPin.position.latitude" />
                            <label for="longitude">Longitude: </label>
                            <input type="text" ng-model="$ctrl.newPin.position.longitude" />
                            <input type="button" ng-show="{{$ctrl.hasLatLongFromImage}}" value="Set lat long from {{$ctrl.imageLatLong.name}}" ng-click="$ctrl.imageLatLong.set()" />
                        </div>
                        <div class="form-group">
                            <label for="message">Fields: </label>
                            <div ng-repeat="(fieldKey, fieldValue) in $ctrl.newPin.fields">
                              <input type="text" value="{{fieldKey}}"> <input type="text" value="{{fieldValue}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <button ng-click="$ctrl.addNewPinField()" class="btn btn-primary" id="newPinAddFieldButton">
                              <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>
                        <div class="form-group">
                            <label for="message">Attachments: </label>
                            <input type="file" id="newAttachment" custom-on-change="attachmentAdded">
                            <div id="imagePreview"></div>
                        </div>
                        <p></p>
                        <button ng-click="$ctrl.createMapEntry()" type="submit" class="btn btn-danger" data-dismiss="modal" ng-disabled="newPinForm.$invalid">Create</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
