<div class="card">
  <h4 class="card-header">{{ (userdetail )?.pubDetails.displayName }}</h4>
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col d-none d-md-block">
          <img src="{{ (userdetail )?.pubDetails.photoURL }}" alt="Card image cap">
        </div>
        <div class="col">
          <table class="table">
            <thead>
              <h4>Profile Data</h4>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Display Name</th>
                <td>{{ (userdetail)?.pubDetails.displayName }}</td>
              </tr>
              <tr>
                <th scope="row">Email</th>
                <td>{{ (userdetail)?.pubDetails.email }}</td>
              </tr>
              <tr>
                <th scope="row">Cell Phone</th>
                <td><a href="tel:{{ (userdetail)?.pubDetails.cellPhone }}">{{ (userdetail )?.pubDetails.cellPhone }}</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!--<h4 class="card-title">Special title treatment</h4>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>-->
  </div>
</div>