<div ng-controller="Flare.ListPageController as fCtl">

    <a data-original-title="Create List" href="#" type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#listModal">
        <span class="glyphicon glyphicon-envelope"> Create List </span>
    </a>



    <h1>{{fCtl.title}}</h1>



    <table id="listtable" datatable="ng" class="row-border hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>discription</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="list in fCtl.lists">
            <td>{{ list.name }}</td>
            <td>{{ list.discription }}</td>
            <td><a href="/Flare/list/{{ list._id }}">Details</a></td>
        </tr>
        </tbody>
    </table>


    <!-- Modal -->
    <div class="modal fade" id="listModal" tabindex="-1" role="dialog" aria-labelledby="listModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{fCtl.title}}</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="title">Name</label>
                            <input ng-model="fCtl.newList.data.name" type="text" class="form-control" id="title" placeholder="title">
                        </div>
                        <div class="form-group">
                            <label for="message">Discription</label>
                            <input ng-model="fCtl.newList.data.discription" type="textbox" class="form-control" id="message" placeholder="message">
                        </div>
                        <div class="form-group">
                            <label for="listSelector">Organization: </label>
                            <select id="listSelector" class="form-control" ng-model="fCtl.newList.data.org" Required >
                                <option ng-repeat="org in fCtl.orgs" value="{{ org._id }}">{{ org.name }}</option>
                            </select>
                        </div>
                        <p></p>
                        <button ng-click="fCtl.createList()" type="submit" class="btn btn-danger" data-dismiss="modal">Fire</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>


</div>
