<navbar></navbar>

<div class="container">

<a href="/missions"><button type="button" class="btn btn-default">
  go back to mission list
</button></a>

<form id="missionForm" name="missionForm">
  <div class="col-md-12">
      <h2>
        Mission Details: {{$ctrl.getLocalId()}}
        <i><span ng-show="!!$ctrl.mission.title">{{$ctrl.mission.title}}</span></i>
      </h2>
  </div>

  <div class="col-md-6">
      <label>Location: </label>
      <div class="input-group">
        <span class="form-control" ng-bind="$ctrl.mission.location"></span>
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="$ctrl.startDatePoppedUp = true;">
              <i class="fa fa-map"></i>
            </button>
        </span>
      </div>
      <div class="form-group">
        <label>Deployment: </label>
        {{$ctrl.mission.startDate}} 
        <span ng-if="!!$ctrl.mission.endDate"> to {{$ctrl.mission.endDate}}</span>
      </div>
      <div class="form-group">
          <label>Duty Level: </label>
          <span ng-bind="$ctrl.mission.dutyLevel"></span>
      </div>
      <div class="form-group">
          <label>Description: </label>
          <textarea class="form-control" ng-model="$ctrl.mission.description" 
            placeholder="Special equipment, needs, notes, etc."></textarea>
      </div>
      <div class="form-group">
          <label for="message">Attachments: </label>
          <input type="file" id="newAttachment" custom-on-change="attachmentAdded">
          <input type="button" ng-show="$ctrl.newPin.hasAttachments()" value="Clear Attachments" ng-click="$ctrl.clearAttachments()">
      </div>
      <p></p>
      <button ng-click="$ctrl.updateMission()" type="submit" class="btn btn-primary" ng-disabled="missionForm.$invalid">Update</button>
  </div>
</form>

<!-- TODO: do not show if offline ... -->
<div class="col-md-6" ng-hide="!$ctrl.mission.staff">
  <label>Staff: {{$ctrl.mission.staffLength}} 
    <span ng-show="!!$ctrl.mission.staff.staffNeeded">/ {{$ctrl.mission.staff.staffNeeded}}</span></label>

  <div ng-repeat="(memberId, member) in $ctrl.mission.staff">
    <span>{{member.name}}</span>
    <!-- TODO: this button deletes -->
    <span class="delete" ng-click="$ctrl.unSignUp()" ng-show="memberId == $ctrl.userProfile.neteoc_id"> x</span>
  </div>

  <p></p>

  <!-- TODO: do not show button if at max staff-->
  <button ng-click="$ctrl.signUp()" class="btn btn-primary" ng-show="$ctrl.mission.needsStaff && !$ctrl.signedUpAlready">Sign Up</button>
</div>

</div>