


<div class="card">
    <h4 class="card-header">Edit {{profile.displayName}}'s Profile</h4> 
    <div class="card-body">
             <form id="editProfileForm" name="editProfileForm"  class="ng-pristine ng-invalid ng-invalid-required ng-valid-date ng-valid-min ng-valid-max ng-valid-step">
                <div class="input-group">
                    <span class="input-group-addon">Cell Phone</span>
                    <input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" type="text" [(ngModel)]="profile.cellPhone" name="cellPhone" required>
                </div>
                
            </form>

    <!--<h4 class="card-title">Special title treatment</h4>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>-->
  </div>
  <div class="card-footer text-muted">
    <button type="submit" class="btn btn-primary" (click)="onUpdateClick()"  [routerLink]="['/profile/', userEditLink]">Update Profile</button>
  </div>
</div>