
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item"><a routerLink="/missions">Missions</a></li>
  <li class="breadcrumb-item active">{{ (missionDetails | async)?.$key  }}</li>
</ol>

<h1>{{ (missionDetails | async)?.incidentID  }}</h1>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{ (missionDetails | async)?.title }}</h4>
        <table class="table">
            <tbody>
                <tr *ngIf="(missionDetails | async)?.dutyLevel">
                    <th scope="row">Duty Level</th>
                    <td>{{ (missionDetails | async)?.dutyLevel }}</td>
                </tr>
                <tr  *ngIf="(missionDetails | async)?.startDate.year">
                    <th scope="row">Start Date</th>
                    <td>{{ (missionDetails | async )?.startDate.year}} {{ (missionDetails | async )?.startDate.month}}  {{ (missionDetails | async )?.startDate.day}} </td>
                </tr>
                <tr  *ngIf="(missionDetails | async)?.endDate.year">
                    <th scope="row">End Date</th>
                    <td>{{ (missionDetails | async )?.endDate.year}} {{ (missionDetails | async )?.endDate.month}}  {{ (missionDetails | async )?.endDate.day}} </td>
                </tr>
                <tr *ngIf="(missionDetails | async)?.location">
                    <th scope="row">location</th>
                    <td>{{ (missionDetails | async)?.location }} </td>
                </tr>
                <tr *ngIf="(missionDetails | async)?.staffMin">
                    <th scope="row">Staff Min</th>
                    <td>{{ (missionDetails | async)?.staffMin }} </td>
                </tr>
                <tr *ngIf="(missionDetails | async)?.staffMin">
                    <th scope="row">Staff Max</th>
                    <td>{{ (missionDetails | async)?.staffMin }} </td>
                </tr>
                  <tr *ngIf="(missionDetails | async)?.attachmentLink">
                    <th scope="row">Attachment</th>
                    <td><a href="{{ (missionDetails | async)?.attachmentLink }}" target="_blank">Cick Here</a> </td>
                </tr>
            </tbody>
            </table>
            <h4 class="card-title">Extra Details </h4>
            <p>{{ (missionDetails | async)?.extraDetails }}</p>
            <button *ngIf="canCreateMission" class="btn btn-lg btn-outline-dark " [routerLink]="['/missions',(missionDetails | async)?.$key, 'edit']"> Edit Mission </button>
      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Mission Roster</h4>
        <button *ngIf="!rosterStatus" (click)='addSignupStatus(); open(content)' class="btn btn-success my-2 my-sm-0">Sign yourself up for the mission</button>

        <button *ngIf="rosterStatus" (click)='removeSignupStatus()' class="btn btn-danger my-2 my-sm-0">Remove yourself from the mission</button>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th class="d-none d-sm-table-cell">Email</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let member of roster | async">
      <th scope="row"><a  [routerLink]="['/profile/', {id: member?.$key}]">{{member?.displayName}}</a></th>
      <td class="d-none d-sm-table-cell">{{member.email}}</td>
      <td>{{member.phoneNumber}}</td>
    </tr>
  </tbody>
</table>

      </div>
    </div>
  </div>
</div>




<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header bg-success text-white">
    <h4 class="modal-title">Success</h4>
  </div>
  <div class="modal-body">
    <h4 class="card-title">Reminder:</h4>
            {{ (missionDetails | async)?.extraDetails }}

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="c('Close click')">Done</button>
  </div>
</ng-template>