<navbar></navbar>

<div class="container">

    <p><a data-original-title="Add User" href="#" type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#addOrgModal">
        <i class="fa fa-users" aria-hidden="true"></i>
        <span> Create Organization </span>
    </a></p>

    <h3>Organizations:</h3>

    <div ng-if="!$ctrl.organizations.length">You don't belong to any organizations :( Maybe you should make your own.</div>

    <div ng-if="!!$ctrl.organizations.length" ui-grid="$ctrl.organizationGrid" class="grid"></div>

    <div class="modal fade" id="addOrgModal" tabindex="-1" role="dialog" aria-labelledby="listModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create Organization</h4>
                </div>
                <div class="modal-body">
                    <form>
                      <div class="form-group">
                          <label for="title">Name: </label>
                          <input ng-model="$ctrl.newOrganization.name" type="text" class="form-control" id="title" placeholder="title"  required >
                      </div>
                      <div class="form-group">
                          <label for="message">Description: </label>
                          <input ng-model="$ctrl.newOrganization.description" type="textbox" class="form-control" id="message" placeholder="message"  required>
                      </div>
                        <p></p>
                        <button ng-click="$ctrl.createOrganization()" type="submit" class="btn btn-danger" data-dismiss="modal">Fire</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
