<navbar></navbar>

<div class="container">
      <div class="row">
          <main>
            <div class="panel panel-info" >
                <div class="panel-heading">
                    <h3 class="panel-title capitalize">{{$ctrl.user.name}}</h3>
                </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 col-lg-3 ">
                        <img alt="User Pic" src="{{$ctrl.user.picture}}" class="img-circle img-responsive">
                    </div>
                </div>
            </div>
                <div class="panel-footer">
                    <span class="pull-right">
                    <!--<button type="submit" class="btn btn-danger" ng-click="UsersCrtl.updateUser()">Save</button>-->
                  </span>
                </div>
            </div>
          </main>
        </div>
      </div>
