<navbar></navbar>

<div class="container">
      <div class="row">
          <main>
            <h1>{{ $ctrl.name }}</h1>
            <h2>The app</h2>
            <section>
              Networed Effective Operations Center (NetEOC for short) is the brain child of 
              Kerry Hatcher and a dedeciated team of developers. 
              It's lofty goal is to attempt to improve operational efficiency for emergency workers.
            </section>
          </main>
        </div>
      </div>
