<navbar></navbar>

<div class="container">
      <div class="row">
          <main>
            <h1>{{ $ctrl.name }}</h1>
            <h2>The app</h2>
            <section>
              Net Emergency Operations Center (NetEOC for short) is the brain child of 
              Kerry Hatcher and his evil twin, Cody. It's lofty goal is to attempt 
              to bring a measure of competence to software build for emergency workers.
            </section>
            <h2>The team</h2>
            <section>
                <ul>
                  <li>
                    <h3>Kerry "ReArchitect" Hatcher</h3>
                    Devoted husband, father to Jackson "Jack-Jack" Hatcher. <br />
                    Passable coder.
                  </li>
                  <li>
                    <h3>Leo "Blake" Seagullman</h3>
                    Not quite man, not quite seagull. All of their strengths, none of their weaknesses.
                  </li>
                  <li>
                    <h3>Darrell "Where's Darrell?" Bailey</h3>
                    Brilliant developer by day, literally the Atlanta scene by night.
                  </li>
                  <li>
                    <h3>Eric "Road Rage" Wehrly</h3>
                    Brillian developer by day, will not shut up about how much he hates Atlanta traffic.
                  </li>
                </ul>
            </section>
          </main>
        </div>
      </div>
