<navbar></navbar>

<div class="container">

    <a data-original-title="Broadcast Message" href="#" type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#flareModal" ng-click="FlaresCrtl.getLists()">
        <span class="glyphicon glyphicon-envelope"> Create List </span>
    </a>

<p>
  This is where your lists would go, <br />
  If DataTables worked.
  </p>
  
    <div class="modal fade" id="flareModal" tabindex="-1" role="dialog" aria-labelledby="flareModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Send Flare</h4>
                </div>
                <div class="modal-body">
                    <form id="flareform" name="flareForm">
                        <div class="form-group">
                            <label for="title">Name</label>
                            <input ng-model="$ctrl.newMessage.name" type="text" class="form-control" id="name" placeholder="title"  required >
                        </div>
                        <div class="form-group">
                            <label for="listSelector">Organization</label>
                            <select id="listSelector" class="form-control" ng-model="$ctrl.selectedOrganization" Required 
                              ng-options="organization.name for organization in $ctrl.organizations">
                            </select>
                        </div>
                        <p></p>
                        <button ng-click="$ctrl.sendFlare()" type="submit" class="btn btn-danger" data-dismiss="modal" ng-disabled="flareForm.$invalid">Fire</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>